<div class="techWrap">
  <mat-card class="techCard">
    <div class="techHed">
      <p class="techTitle"> JĘZYKI </p>
    </div>
    <img class = "techImg" src="https://i.imgur.com/u4pCw60.png" alt="not a photo of a cup">
    <mat-accordion class = "techAc" displayMode = "flat">
      <mat-expansion-panel class="techPan">
        <mat-expansion-panel-header class = "techPhed">
          <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
          This is the expansion 1 title
        </mat-expansion-panel-header>
    
        This the expansion 1 content
    
      </mat-expansion-panel>
    
      <mat-expansion-panel class="techPan">
          <mat-expansion-panel-header class = "techPhed">
            <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
            This is the expansion 1 title
          </mat-expansion-panel-header>
      
          This the expansion 1 content
      
        </mat-expansion-panel>
        <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
              <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
              This is the expansion 1 title
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
          </mat-expansion-panel>
          <mat-expansion-panel class="techPan">
              <mat-expansion-panel-header class = "techPhed">
                <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                This is the expansion 1 title
              </mat-expansion-panel-header>
          
              This the expansion 1 content
          
            </mat-expansion-panel>
            <mat-expansion-panel class="techPan">
                <mat-expansion-panel-header class = "techPhed">
                  <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                  This is the expansion 1 title
                </mat-expansion-panel-header>
            
                This the expansion 1 content
            
              </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <mat-card class="techCard">
      <div class="techHed">
        <p class="techTitle"> TECHNOLOGIE </p>
      </div>
      <img class = "techImg" src="https://i.imgur.com/NT7HMVa.png" alt="not a photo of a cup">
      <mat-accordion class = "techAc" displayMode = "flat">
        <mat-expansion-panel class="techPan">
          <mat-expansion-panel-header class = "techPhed">
            <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
            This is the expansion 1 title
          </mat-expansion-panel-header>
      
          This the expansion 1 content
      
        </mat-expansion-panel>
      
        <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
              <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
              This is the expansion 1 title
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
          </mat-expansion-panel>
          <mat-expansion-panel class="techPan">
              <mat-expansion-panel-header class = "techPhed">
                <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                This is the expansion 1 title
              </mat-expansion-panel-header>
          
              This the expansion 1 content
          
            </mat-expansion-panel>
            <mat-expansion-panel class="techPan">
                <mat-expansion-panel-header class = "techPhed">
                  <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                  This is the expansion 1 title
                </mat-expansion-panel-header>
            
                This the expansion 1 content
            
              </mat-expansion-panel>
              <mat-expansion-panel class="techPan">
                  <mat-expansion-panel-header class = "techPhed">
                    <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                    This is the expansion 1 title
                  </mat-expansion-panel-header>
              
                  This the expansion 1 content
              
                </mat-expansion-panel>
      </mat-accordion>
  </mat-card>

  <mat-card class="techCard">
        <div class="techHed">
          <p class="techTitle"> PROGRAMY </p>
        </div>
        <img class = "techImg" src="https://i.imgur.com/3n2LUE4.png" alt="not a photo of a cup">
        <mat-accordion class = "techAc" displayMode = "flat">
          <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
              <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
              This is the expansion 1 title
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
          </mat-expansion-panel>
        
          <mat-expansion-panel class="techPan">
              <mat-expansion-panel-header class = "techPhed">
                <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                This is the expansion 1 title
              </mat-expansion-panel-header>
          
              This the expansion 1 content
          
            </mat-expansion-panel>
            <mat-expansion-panel class="techPan">
                <mat-expansion-panel-header class = "techPhed">
                  <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                  This is the expansion 1 title
                </mat-expansion-panel-header>
            
                This the expansion 1 content
            
              </mat-expansion-panel>
              <mat-expansion-panel class="techPan">
                  <mat-expansion-panel-header class = "techPhed">
                    <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                    This is the expansion 1 title
                  </mat-expansion-panel-header>
              
                  This the expansion 1 content
              
                </mat-expansion-panel>
                <mat-expansion-panel class="techPan">
                    <mat-expansion-panel-header class = "techPhed">
                      <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
                      This is the expansion 1 title
                    </mat-expansion-panel-header>
                
                    This the expansion 1 content
                
                  </mat-expansion-panel>
        </mat-accordion>
  </mat-card>
</div>