<div class="techWrap">
  <mat-card class="techCard">
    <div class="techHed">
      <p class="techTitle"> JĘZYKI </p>
    </div>
    <img class = "techImg" src="https://i.imgur.com/u4pCw60.png" alt="not a photo of a cup">
    <mat-accordion class = "techAc" displayMode = "flat">
      <mat-expansion-panel class="techPan">
        <mat-expansion-panel-header class = "techPhed">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" class="matListImg">
          JavaScript
        </mat-expansion-panel-header>
    
        chyba wreszcie działa test 
    
      </mat-expansion-panel>
      <mat-expansion-panel class="techPan">
        <mat-expansion-panel-header class = "techPhed">
            <img src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png" class="matListImg">
            TypeScript
        </mat-expansion-panel-header>
      
          chyba wreszcie działa test 
      
      </mat-expansion-panel>
      <mat-expansion-panel class="techPan">
          <mat-expansion-panel-header class = "techPhed">
            <img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/184/thumb/html5.png" class="matListImg">
            HTML5/CSS
          </mat-expansion-panel-header>
        
            chyba wreszcie działa test 

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <mat-card class="techCard">
      <div class="techHed">
        <p class="techTitle"> TECHNOLOGIE </p>
      </div>
      <img class = "techImg" src="https://i.imgur.com/NT7HMVa.png" alt="not a photo of a cup">
      <mat-accordion class = "techAc" displayMode = "flat">
          <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
              <img src="https://i.imgur.com/AAbz0Wj.png" class="matListImg">
              Angular5
            </mat-expansion-panel-header>
        
            chyba wreszcie działa test 
        
          </mat-expansion-panel>
          <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
                <img src="https://i.imgur.com/zr5ZgPD.png" class="matListImg">
                GitHub
            </mat-expansion-panel-header>
          
              chyba wreszcie działa test 
          
          </mat-expansion-panel>
          <mat-expansion-panel class="techPan">
              <mat-expansion-panel-header class = "techPhed">
                <img src="https://i.imgur.com/IyvBwTw.png?1" class="matListImg">
                Node.js
              </mat-expansion-panel-header>
            
                chyba wreszcie działa test 
    
          </mat-expansion-panel>
      </mat-accordion>
  </mat-card>

  <mat-card class="techCard">
    <div class="techHed">
          <p class="techTitle"> PROGRAMY </p>
    </div>
    <img class = "techImg" src="https://i.imgur.com/3n2LUE4.png" alt="not a photo of a cup">
    <mat-accordion class = "techAc" displayMode = "flat">
        <mat-expansion-panel class="techPan">
          <mat-expansion-panel-header class = "techPhed">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Visual_Studio_Code_0.10.1_icon.png" class="matListImg">
            Visual Studio Code
          </mat-expansion-panel-header>
      
          chyba wreszcie działa test 
      
        </mat-expansion-panel>
        <mat-expansion-panel class="techPan">
          <mat-expansion-panel-header class = "techPhed">
              <img src="https://cdn-images-1.medium.com/max/325/1*Je4yF-xdHEluVvmS0qw8JQ.png" class="matListImg">
              Git Bash
          </mat-expansion-panel-header>
        
            chyba wreszcie działa test 
        
        </mat-expansion-panel>
        <mat-expansion-panel class="techPan">
            <mat-expansion-panel-header class = "techPhed">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_%282011%29.png" class="matListImg">
              Google Chrome
            </mat-expansion-panel-header>
          
              chyba wreszcie działa test 
  
        </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>