#container
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
p
{
  padding: 0px;
  margin: 0px;
}
#creators
{
  margin-top: 30px;
  background-color: #fefefe;
  text-align: center;
  box-shadow: -10px 10px 50px -10px black;
}
#creators > p
{
  padding: 20px;
  padding-bottom: 0px;
  font-size: 3vw;
}
#creators > ul
{
  padding: 20px;
  margin: 0px;
}
#creators > ul > li
{
  margin-top: 20px;
  line-height: 100px;
  display: flex;
}
#creators > ul > li > img
{
  border-radius: 60px;
  height: 100px;
  width: 100px;
}
#creators > ul > li > p
{
  margin-left: 20px;
  font-size: 1.8vw;
}
#rightAlignColumn
{
  width: 60%;
}
#trivia
{
  clear: both;
  margin-top: 30px;
  background-color: #fefefe;
  text-align: center;
  box-shadow: -10px 10px 50px -10px black;
  
}
#trivia > .tTitle
{
  padding-top: 20px;
  font-size: 3vw;
}
#trivia > .tContent
{
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

#sliderWrapper
{
  clear: both;
  width: fit-content;
  margin: 30px auto;
}
#sliderContainer
{
  --slide-width: 800px;
  --slide-height: 450px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#sliderContainerIn
{
  display: block;
  position: relative;
  margin: 10px;
  width: var(--slide-width);
  height: var(--slide-height);
  overflow-x: hidden;
}
#slider
{
  display: block;
  position: absolute;
  width: 1333337px;
}
#leftSliderButton
{
  display: block;
  width: 100px;
  height: 100px;
}
#rightSliderButton
{
  display: block;
  width: 100px;
  height: 100px;
  transform: rotate(180deg);
}
.slideLeft
{
  animation-name: slideLeft;
  animation-duration: 3s;
}
.slideLeftf
{
  animation-name: slideLeftf;
  animation-duration: 3s;
}
.slideRight
{
  animation-name: slideRight;
  animation-duration: 3s;
}
.slide
{
  float: left;
  width: var(--slide-width);
}