<div id="creators">
  <p>CREATORS</p>
  <ul>
    <li><img src="https://goo.gl/iiefKw"><p>Michał Urbanowicz</p></li>
    <li><img src="https://goo.gl/iiefKw"><p>Michał Lata</p></li>
    <li><img src="https://goo.gl/iiefKw"><p>Marysia Urbanowicz</p></li>
    <li><img src="https://goo.gl/iiefKw"><p>Igor Osowski</p></li>
  </ul>
</div>
<div id="trivia">
  <p class="tTitle">TRIVIA</p>
  <p class="tContent">
    No… It's a thing; it's like a plan, but with more greatness. Saving the world with meals on wheels. Did I mention we have comfy chairs? I am the last of my species, and I know how that weighs on the heart so don't lie to me!

Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you? You hate me; you want to kill me! Well, go on! Kill me! KILL ME!

You know how I sometimes have really brilliant ideas? You hate me; you want to kill me! Well, go on! Kill me! KILL ME! Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?

Father Christmas. Santa Claus. Or as I've always known him: Jeff. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?

You hit me with a cricket bat. I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself.

It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?

They're not aliens, they're Earth…liens! You've swallowed a planet! I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Stop talking, brain thinking. Hush.
  </p>
</div>